{% extends "base.html" %}

{% block content %}
<div class="md:flex content-center items-center min-h-screen">
    <article>
        <h1 class="font-secondary text-white text-4xl">Who are my representatives?</h1>
        <form method="GET" action="/representatives" class="md:flex">
            <input type="text" name="address" placeholder="Your address (or your neighbor's)" class="input ~info mr-2 mb-2 flex-grow mb-2 h-10 border-none">
            <input type="text" name="zip" placeholder="Zipcode" class="input ~info mr-2 mb-2 w-3/12 mb-2 h-10 border-none">
            <button type="submit" class="button ~info !high bg-blue-600 mb-2 h-10">Search</button>
        </form>
        <p class="font-secondary text-white">by <a href="https://politiwatch.org">Politiwatch</a></p>
    </article>
</div>
{% endblock %}